*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    padding-left: 60px;
    margin-top: 20pxpx;
    font-size: 20px;
}
h1{
    text-align: center;
    color:#483D8B;
    margin-top: 40px;
}
h3{
    padding-left: 20px;
    color: #DC143C;
    font-size: 20px;
}
li{
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 100px;
}