*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    color:  #FF0000;
    font-family: Arial;
    margin-top: 20px;
}
.inp1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.inp2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-family: 'Times New Roman';
    color: black;
    margin-left: 150px;
}
ol{
    margin-left: 250px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.inp3{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.obj1{
    height: 200px;
    width: 100%;
    text-align: center;
    border-color: #FF0000;
    background-color: rgb(184, 173, 173);
    padding-top: 20px;
}